<footer class="footer">
  <small>
  	Sample App by Randy L. Argonillo
  </small>
  <nav>
  	<ul>
  		<li><%= link_to "About", "#"%></li>
  		<li><%= link_to "Contact", "#"%></li>
  		<li><a href="http://www.abs-cbnnews.com">News</a></li>
  	</ul>
  </nav>
</footer>
